<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/api/saveMajor" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div>
                <label for="MEMBER_MAJOR">MEMBER_MAJOR</label>
                <input type="text" id="MEMBER_MAJOR" name="MEMBER_MAJOR" placeholder="이름을입력하세요">
            </div>
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>