<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>memberIdx</th>
        <th>memberMajor</th>
        <th>memberId</th>
        <th>memberPw</th>
        <th>memberName</th>
        <th>memberUniId</th>
        <th>memberPhone</th>
        <th>memberEmail</th>
        <th>memberDate</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.memberIdx}"></td>
        <td th:text="${member.memberMajor}"></td>
        <td th:text="${member.memberId}"></td>
        <td th:text="${member.memberPw}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberUniId}"></td>
        <td th:text="${member.memberPhone}"></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberDate}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>